
  margin: auto;
  /* Override the inline style that is set on the .doc-content div, which is used to store layout
     data for roundtripping. */
  /* padding: 24px 0 !important; */
  max-width: 770px !important;

  margin: auto;
  /* Override the inline style that is set on the .doc-content div, which is used to store layout
     data for roundtripping. */
  padding: 24px 0 !important;
  max-width: 770px !important;

  /* margin: auto; */
  /* Override the inline style that is set on the .doc-content div, which is used to store layout
     data for roundtripping. */
  padding: 24px 0 !important;
  max-width: 770px !important;

  margin: auto;
  /
  margin: auto;
  /* Override the inline style that is set on the .doc-content div, which is used to store layout
     data for roundtripping. */
  padding: 24px 0 !important;
 

.doc-content {
    /* font-size: 1px; */
} max-width: 770px !important;
  /* max-width: 770px !important; */
  margin: auto;
  /* Override the inline style that is set on the .doc-content div, which is used to store layout
     data for roundtripping. */
  /* padding: 24px 0 !important; */
  max-width: 770px !important;

  margin: auto;
  /* Override the inline style that is set on the .doc-content div, which is used to store layout
     data for roundtripping. */
  padding: 24px 0 !important;
  max-width: 770px !important;

  /* margin: auto; */
  /* Override the inline style that is set on the .doc-content div, which is used to store layout
     data for roundtripping. */
  padding: 24px 0 !important;
  max-width: 770px !important;
