body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    min-height: 90vw;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-image: url("../img/welc_bg1.jpg");
}

h1 {
    color: rgb(191, 156, 202);
    text-shadow: black 0 0 2px;
    font-size: 50px;
}

h2 {
    color: rgb(191, 156, 202);
}

h3 {
    color: rgb(191, 156, 202);
}

a {
    color: rgb(191, 156, 202);
}

.light {
    text-shadow: rgb(18, 241, 56) 0 0 10px; /* Свечение голубого цвета */
    color: rgb(191, 156, 202);
}
.dark {
    text-shadow: red 0 0 10px; /* Свечение красного цвета */
}

.we-block {
    display: block;
    text-align: center;
    align-content: center;
    margin: auto;
    width: 600px;
    height: 650px;
    float: left;
}

.blur {
    backdrop-filter: blur(20px);
}

.clear {
    min-height: 3vh;
}

input {
    margin-left: 0;
    margin-right: 70px;
    width: 1vw;
    border: 2px solid #393939;
    float: right;
}

.btn-c {
    bottom: 0;
    background: none;
    border: 2px solid #747474;
    box-shadow: 0 0 10px rgb(1, 255, 43);
    text-shadow: 0 0 10px rgb(1, 255, 43);
    margin: 1vw auto;
    padding: 1.2em 2em;
    color: #747474;
    font-family: "Open Sans";
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: ease all 0.3s;
    display: block;
}

.btn-c:hover {
    background: #747474;
    color: #fff;
    border: #747474 solid 2px;
}

.btn-c:disabled {
    opacity: 0.5;
    box-shadow: 0 0 10px rgb(255, 1, 1);
    text-shadow: 0 0 10px rgb(255, 1, 1);
    cursor: not-allowed;
}

@media (max-width: 480px) {
    :root {
        --contentWidth: var(--mobile_small);
    }
    .we-block {
        width: 100vw;
        height: 600px;
    }
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    a {
        font-size: 12px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

#shape10,
#shape9,
#shape8,
#shape1 {
    transform-box: fill-box;
    transform-origin: center;
    -webkit-animation: rotate-center 2s cubic-bezier(0.445, 0.05, 0.55, 0.95)
        infinite alternate both;
    animation: rotate-center 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
        alternate both;
}

#cir1,
#cir2,
#cir3 {
    transform-box: fill-box;
    transform-origin: center;
    -webkit-animation: rotate-scale-down-diag-2 2s linear infinite both;
    animation: rotate-scale-down-diag-2 2s linear infinite both;
}

#cir4,
#cir5,
#cir6 {
    transform-box: fill-box;
    transform-origin: center;
    -webkit-animation: rotate-scale-down-diag-2 1s linear infinite both;
    animation: rotate-scale-down-diag-2 1s linear infinite both;
}

/**
   * ----------------------------------------
   * animation rotate-center
   * ----------------------------------------
   */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**
   * ----------------------------------------
   * animation rotate-scale-down-diag-2
   * ----------------------------------------
   */
@-webkit-keyframes rotate-scale-down-diag-2 {
    0% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
        -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
        transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
}
@keyframes rotate-scale-down-diag-2 {
    0% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
        -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
        transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
        -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
        transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
}

#_checkbox {
    display: none;
}

label {
    position: absolute;
    top: 82%;
    right: 0;
    left: 75%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #f72414;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 0 10px #d32111;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
        0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
    border: 2px solid rgba(0, 0, 0, 0.44);
}

label:active {
    transform: translateY(-50%) scale(0.9);
}

#_checkbox:checked + label {
    background-color: #07d410;
    box-shadow: 0 0 10px #00ff0d;
}

#_checkbox:checked + label:before {
    width: 0;
    height: 0;
}
