body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    min-height: 90vw;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-image: url('../img/welc_bg.jpg');
}

h1 {
    color: rgb(191, 156, 202);
        text-shadow: black 0 0 2px;
}

h2 {
    color: rgb(191, 156, 202);
}

h3 {
    color: rgb(191, 156, 202);
}

a {
    color: rgb(191, 156, 202);
}

.light {
    text-shadow: rgb(225, 176, 240) 0 0 10px; /* Свечение голубого цвета */
    color: rgb(191, 156, 202);
   }
   .dark {
    text-shadow: red 0 0 10px; /* Свечение красного цвета */
   }

.we-block {
    display: block;
    text-align: center;
    align-content: center;
    margin: auto;
    width: 600px;
    height: 600px;
}

.blur {
    backdrop-filter: blur(20px);
}

.clear {
    min-height: 50vw;
}

input {
    margin-left: 0;
    margin-right: 70px;
    width: 1vw;
    border: 2px solid #393939;
    float: right;
}

.btn-c {
    bottom: 0;
    background: none;
    border: 2px solid #747474;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1vw auto;
    padding: 1.2em 2em;
    color: #747474;
    font-family: "Open Sans";
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: ease all 0.3s;
    display: block;
}

.btn-c:hover {
    background: #747474;
    color: #fff;
    border: #747474 solid 2px;
}

.btn-c:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}